:root {
    --bs-font-sans-serif: 'Open Sans', sans-serif;
    --bs-danger-rgb: 255, 0, 0;
    --bs-danger: #ff0000;
    --bs-primary-rgb: 18, 161, 242;
    --bs-primary: #12a1f2;
    --bs-body-font-size: 1rem;
    --bg-feature-box: #f8eae7;
}

.fw-bolder {
    font-weight: 800 !important;
}

.container {
    max-width: var(--bs-breakpoint-lg);
}

.quotebox {
    border-radius: 25px;
    padding: 5px 40px;
    font-size: 22px;
}

.quotebox::before,
.quotebox::after {
    position: absolute;
    background-color: white;
    width: 43px;
    height: 38px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-size: 60px;
    line-height: 0.8;
}

.quotebox::before {
    content: "\275E";
    left: -6px;
    top: -8px;
}

.quotebox::after {
    content: "\275E";
    right: -6px;
    bottom: -10px;
}

footer::before {
    content: "";
    background-image: url('../img/wave.png');
    background-repeat: no-repeat;
    background-size: 100% 75px;
    background-position: top left;
    display: block;
    width: 100%;
    height: 75px;
}

.dropcap::first-letter {
    font-size: 125%;
}

.custom-underline {
    position: relative;
}

.custom-underline::after {
    content: "";
    background-image: url('../img/underline.png');
    background-repeat: no-repeat;
    background-position: right;
    display: block;
    width: 100%;
    height: 13px;
    background-size: contain;
    position: absolute;
    bottom: -7px;
    right: 0;
}

.navbar-brand img {
    width: 150px;
}

.btn-primary {
    --bs-btn-bg: var(--bs-primary);
    --bs-btn-border-color: var(--bs-primary);
    --bs-btn-hover-bg: var(--bs-primary);
    --bs-btn-hover-border-color: var(--bs-primary);
    --bs-btn-disabled-bg: var(--bs-primary);
    --bs-btn-disabled-border-color: var(--bs-primary);
}

.navbar-nav {
    --bs-nav-link-color: white;
}

.navbar-dark,
.navbar[data-bs-theme=dark] {
    --bs-navbar-color: rgba(255, 255, 255, 1);
    --bs-navbar-hover-color: rgba(255, 255, 255, 1);
    --bs-navbar-active-color: var(--bs-primary);
}

.hero::after {
    content: "";
    background-image: url('../img/wave.png');
    background-repeat: no-repeat;
    background-size: 100% 100px;
    background-position: bottom left;
    display: block;
    width: 100%;
    height: 100px;
    transform: scaleY(-1) scaleX(-1);
}

.hero .phone {
    max-width: 300px;
}

.hero .custom-underline::after {
    height: 20px;
}

.typed-cursor {
    animation: none !important;
    -webkit-animation: none !important;
    transform: scaleX(-1);
    display: inline-block;
    font-size: 75%;
}

.radial-glow {
    display: block;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: #ffcc0070; /* Fallback color */
    background: radial-gradient(circle, #ffcc0070, transparent);
    animation: glow 4s infinite;
    -webkit-animation: glow 4s infinite;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.feature-box {
    width: 100%;
    height: 400px;
    display: block;
    background-color: var(--bg-feature-box);
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
}

.feature-box::after {
    content: "";
    width: 0px;
    height: 0px;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 50px solid var(--bg-feature-box);
    display: block;
    bottom: -50px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -2px);
}

.feature-box li {
    position: absolute;
    line-height: 1.25;
    text-align: center;
}

.feature-box li:first-child {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-8deg);
}

.feature-box li:nth-child(2) {
    font-size: 120%;
    font-weight: bold;
    left: 50%;
    top: 5%;
    transform: translate(-50%, 30px);
}

.feature-box li:nth-child(3) {
    right: 20%;
    top: 20%;
}

.feature-box li:nth-child(4) {
    right: 5%;
    top: 40%;
}

.feature-box li:nth-child(5) {
    right: 10%;
    top: 60%;
}

.feature-box li:nth-child(6) {
    right: 30%;
    bottom: 10%;
}

.feature-box li:nth-child(7) {
    left: 30%;
    bottom: 10%;
}

.feature-box li:nth-child(8) {
    left: 10%;
    top: 60%;
}

.feature-box li:nth-child(9) {
    left: 5%;
    top: 40%;
}

.feature-box li:nth-child(10) {
    left: 20%;
    top: 20%;
}

@keyframes glow {
    0% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
    50% {
        transform: translate(-50%, -50%) scale(1.2);
        opacity: 0.8;
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
}

@media (min-width: 768px) {
    .quotebox {
        width: 220px;
        padding: 9px;
    }
    .bg-texture {
        background-image: url('../img/texture.png');
        background-attachment: scroll;
        background-position: left center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .hero .phone {
        max-width: 500px;
    }
    .radial-glow {
        width: 200px;
        height: 200px;
    }
}

@media (min-width: 992px) {
    :root {
        --bs-body-font-size: 1.25rem;
    }
    footer::before {
        background-size: 100% 150px;
        height: 150px;
    }
    .navbar {
        --bs-navbar-nav-link-padding-x: 1.25rem;
    }
    .radial-glow {
        width: 250px;
        height: 250px;
    }
}
